/* Begin Syntax Highlighting */
.lineno {
  word-break: keep-all;
  padding: 0px;
  text-align: center;
  font-size: 0.7rem;
 }

.highlight {
  width: 100%;
  overflow-x: auto;
  border: 1px solid #e5e5e5;
  background-color: #f9f9f9;
}

td.gutter.gl {
  border: unset;
}

td.code {
  border: unset;
}

.rouge-table {
  margin-bottom: 0px;
  border: unset;
}

.code > pre {
  white-space: revert;
  padding-left: 0px;
  font-size: 0.7rem;
  padding-bottom: 0px;
  padding-top: 0px;
 }

figure.highlight > pre {
  white-space: revert;
  padding: 4px;
  font-size: 0.7rem;
}

figure.highlight {
  margin-left: 0px;
}
/* End Syntax Highlighting */ 

.commentgravatar > img {
  margin: 0;
}

img.emoji {
  display: inline;
  margin: 0
}

.post {
  text-align: justify;
}

/* pt-serif-regular - latin */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pt-serif-v17-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/pt-serif-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/pt-serif-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/pt-serif-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/pt-serif-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/pt-serif-v17-latin-regular.svg#PTSerif') format('svg'); /* Legacy iOS */
}

/* pt-serif-italic - latin */
@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/pt-serif-v17-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/pt-serif-v17-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/pt-serif-v17-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/pt-serif-v17-latin-italic.woff') format('woff'), /* Modern Browsers */
  url('../fonts/pt-serif-v17-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/pt-serif-v17-latin-italic.svg#PTSerif') format('svg'); /* Legacy iOS */
}

/* pt-serif-700 - latin */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/pt-serif-v17-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/pt-serif-v17-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/pt-serif-v17-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/pt-serif-v17-latin-700.woff') format('woff'), /* Modern Browsers */
  url('../fonts/pt-serif-v17-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/pt-serif-v17-latin-700.svg#PTSerif') format('svg'); /* Legacy iOS */
}

/* pt-sans-regular - latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pt-sans-v17-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/pt-sans-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/pt-sans-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/pt-sans-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/pt-sans-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/pt-sans-v17-latin-regular.svg#PTSans') format('svg'); /* Legacy iOS */
}

/* pt-sans-italic - latin */
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/pt-sans-v17-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/pt-sans-v17-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/pt-sans-v17-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/pt-sans-v17-latin-italic.woff') format('woff'), /* Modern Browsers */
  url('../fonts/pt-sans-v17-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/pt-sans-v17-latin-italic.svg#PTSans') format('svg'); /* Legacy iOS */
}

/* pt-sans-700 - latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/pt-sans-v17-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/pt-sans-v17-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/pt-sans-v17-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/pt-sans-v17-latin-700.woff') format('woff'), /* Modern Browsers */
  url('../fonts/pt-sans-v17-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/pt-sans-v17-latin-700.svg#PTSans') format('svg'); /* Legacy iOS */
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}