<style>
    #cookie-notice {padding: 0.5rem 1rem; display: none; z-index: 9999; text-align: center; position: fixed; bottom: 0; width: 100%; background: #222; color: rgba(255,255,255,0.8);}
    #cookie-notice a {display: inline-block; cursor: pointer; margin-left: 0.5rem;}
    @media (max-width: 767px) {
        #cookie-notice span {display: block; padding-top: 3px; margin-bottom: 1rem;}
        #cookie-notice a {position: relative; bottom: 4px;}
    }
</style>
<div id="cookie-notice"><span>I would like to use third party cookies and scripts to improve the functionality of this website (e. g. comments).</span><a id="cookie-notice-accept" class="btn btn-primary btn-sm">Accept</a><a id="cookie-notice-deny" class="btn btn-primary btn-sm">Deny</a><a href="/privacy" class="btn btn-primary btn-sm">More info</a></div>
<script>
    if(readCookie('cookie-notice-accepted')=='true') {
    } else {
        if(readCookie('cookie-notice-denied')=='true') {
            document.getElementById('cookie-notice').style.display = 'none';
        } else {
            document.getElementById('cookie-notice').style.display = 'block';
        }        
    }
    document.getElementById('cookie-notice-accept').addEventListener("click",function() {
        createCookie('cookie-notice-accepted','true',31);
        document.getElementById('cookie-notice').style.display = 'none';
        location.reload();
    });
    document.getElementById('cookie-notice-deny').addEventListener("click",function() {
        createCookie('cookie-notice-denied','true',31);
        document.getElementById('cookie-notice').style.display = 'none';
        location.reload();
    });

</script>