@charset "utf-8";
@import url(normalize.css);

@media screen and (min-width: 600px) {
	nav ul {
		list-style-type: none;
		margin: 0px; padding: 0px;
	}
	
	nav ul li ul li a {
		margin-left: 20px;
	}

}